@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;1,900&display=swap");

body {
  font-family: "Mulish";
}

.navbar {
  box-shadow: 0px 0px 0px 2px #cccc;
}

.about_image {
  width: 300px;
  height: 300px;
  border: 1rem solid #cccc;
  border-radius: 50%;
}
